<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search</ion-title>
    </ion-toolbar>
    <!-- Searchbar with cancel button shown on focus -->
    
  </ion-header>
  <ion-searchbar [(ngModel)]="query"></ion-searchbar>

  <ion-button routerDirection="forward" (click)="onSearch()"  expand="block" class="ion-padding-horizontal">
    Search
  </ion-button>

  <ion-list expand="block">
    <ion-item *ngFor = "let item of itemListData">

      <ion-card (click)="goToDetails(item)"  class="song-card ion-padding"  >
        <p><b>{{item.name}}</b><p>
          <p>{{item.artists[0]}}</p>
        
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-card class="ion-no-padding" >
    <ion-button expand="block" color="medium" (click)="showRawData()">
      Show Raw Data
    </ion-button>

      <p>{{rawData}}</p>
    
  </ion-card>


  
</ion-content>
