<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Statify</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div class="img-div ion-padding-horizontal" >
    <hr/>
    <img id="logo" alt="" style ="height:100px; width:100px;" src="https://www.shareicon.net/data/512x512/2016/05/20/767883_logo_512x512.png">
  </div>


  <div class="ion-padding-horizontal"> 
    <p class="description">
      Explore, Search, Visualize, Compare, and Save your Favorite Music!
      <br/>
      <br/>
      Search and visualize various  musical characteristics of each song in a beautiful and interactive radar chart. 
      <br/>
      <br/>
      Compare two different music and see their differentiating factors.
      <br/>
      <br/>
      Lastly you can create a public playlist, and add your favorite music to them.
    </p>
    <hr/> 
  </div>

  <ion-button style="text-align: center;" color="medium" expand="block"  class="ion-padding-horizontal" size="small" (click)="showStat()">
    Show Overall Statistics
  </ion-button>
 
  <div id="fill" class="fill">
    <img class="summary-image" alt=""  src="http://d3caa9862509.ngrok.io/plot"/>
  </div>


  

  
  <div class="ion-padding-horizontal">
    <h3>Popular</h3>
  </div>

  <ion-list >
    <ion-item *ngFor = "let item of itemListData" class="ion-no-padding">

      <ion-card (click)="goToDetails(item)"  class="song-card ion-padding" >
        <p>{{(itemListData.indexOf(item) + pageNumber+1).toString()}}. <b>{{item.name}}</b></p>
        <span>{{item.artists[0]}}</span>
      </ion-card>
    </ion-item>
  </ion-list>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading">

    </ion-infinite-scroll-content>
    
  </ion-infinite-scroll>


</ion-content>
